<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LastMissor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE1506DF1D12A49B009A22B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE1506F81D12A49C009A22B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE1507031D12A49C009A22B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
